<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="be.solidx.imageviewer" version="1.0.0">
    
    <name>ImageViewer</name>
    <description>Display a zoomable image view for a given URL</description>
    <license>Apache 2.0</license>
    <keywords>image,viewer</keywords>

    <repo>https://github.com/dsolimando/ImageViewer.git</repo>
    <issue>https://github.com/dsolimando/ImageViewer/issues</issue>

    <js-module src="www/imageViewer.js" name="ImageViewer">
        <clobbers target="window.ImageViewer" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ImageViewer">
                <param name="ios-package" value="ImageViewer"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/ImageViewer/ImageViewer/ImageViewer.h" />
        <header-file src="src/ios/ImageViewer/ImageViewer/ImageViewerViewController.h" />
        <source-file src="src/ios/ImageViewer/ImageViewer/ImageViewer.m" />
        <source-file src="src/ios/ImageViewer/ImageViewer/ImageViewerViewController.m" />
        
        <resource-file src="src/ios/ImageViewer/ImageViewer/ImageViewer.storyboard"/>
        <resource-file src="src/ios/ImageViewer/close-image-zoom.png"/>
    </platform>

</plugin>
